<div class="authincation h-100" style="background-image: url(images/student-bg.jpg); background-repeat:no-repeat; background-size:cover;">
    <div class="container h-100">
        <div class="row h-100 align-items-center">
            <div class="col-lg-6 col-sm-12">
                <div class="form-input-content  error-page">
                    <h1 class="error-text text-primary">400</h1>
                    <h4> Bad Request</h4>
                    <p>Sorry, we are under maintenance!</p>
                    <a class="btn btn-primary" href="index.html">Back to Home</a>
                </div>
            </div>
            <div class="col-lg-6 col-sm-12">
                <img  class="w-100 move1" src="images/svg/student.svg" alt="">
            </div>
        </div>
    </div>
</div>
