
<div class=" tw-h-[100px]">
    <h1 class="tw-text-center tw-text-blue-600">{{name}}</h1>
    <div class="tw-flex tw-gap-4 tw-mt-8 tw-px-[15px] tw-mb-8">
        <button (click)="show()" class="tw-bg-[#2E59D9] tw-h-[32px] tw-rounded-[3px] tw-text-white tw-flex tw-items-center tw-justify-center tw-px-[10px] tw-cursor-pointer">
            Genrate Report
        </button>
    
        <button class="tw-bg-[#2E59D9] tw-h-[32px] tw-rounded-[3px] tw-text-white tw-flex tw-items-center tw-justify-center tw-px-[10px] tw-cursor-pointer">
            Genrate Report
        </button>
    </div>
</div>